.single-services{
    .details-img{
        img{
            width: 100%;
        }
    }
    .details-caption{
        h3{
            font-size: 36px;
            font-weight: 700;
            line-height: 1.2;
            font-family: $font_3;
        }
    }
}